:root {
    $primary-fz: 14px;
    $primary-fw: 500;
    $pr-font: 'DM Sans';
    $title-font: 'Titan One';

    $pr-text-color: #000000;
    $sec-text-color: #907E82;
    $pr-white-color: #FFFFFF;
    $pr-accent-color: #FFA5BA;
    $sec-accent-color: #D41443;
    $pr-bg-color: #FFB8CA;
}