<section class="section">
    <div class="container">
        <h2 class="section__title visually-hidden">Contacts</h2>
        <ul class="contacts">
            <li class="contacts__item">
                <div class="contacts__container">
                    <div class="contacts__wrapper">
                        <h3 class="contacts__title">CAFE</h3>
                    </div>
                    <div class="contacts__box">
                        <p class="contacts__text-black contacts__text--margin-bottom">
                            Chicago
                        </p>
                        <p class="contacts__text">
                            Fusce ut velit laoreet, tempus arcu molestie vulputate
                        </p>
                    </div>
                    <div class="contacts__box-working-time">
                        <p class="contacts__text-black">Monday - Friday</p>
                        <p class="contacts__text-red contacts__text--margin-bottom">
                            06:00 AM - 10:00 PM
                        </p>
                        <p class="contacts__text-black">Saturday - Sunday</p>
                        <p class="contacts__text-red">08:00 AM - 16:00 PM</p>
                    </div>
                    <div class="contacts__box">
                        <ul class="contacts__list">
                            <li>
                                <a class="contacts__link" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a
                >
              </li>
              <li>
                <a class="contacts__link" href="mailto:noreply@envato.com"
                  >noreply@envato.com</a
                >
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="contacts__item">
        <div class="contacts__container">
          <div class="contacts__wrapper contacts__wrapper--green">
            <h3 class="contacts__title">FOODTRUCK</h3>
          </div>
          <div class="contacts__box">
            <p class="contacts__text-black contacts__text--margin-bottom">
              Los Angeles
            </p>
            <p class="contacts__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </div>
          <div class="contacts__box-working-time">
            <p class="contacts__text-black">Monday - Friday</p>
            <p class="contacts__text-red contacts__text--margin-bottom">
              06:00 AM - 10:00 PM
            </p>
            <p class="contacts__text-black">Saturday - Sunday</p>
            <p class="contacts__text-red">08:00 AM - 16:00 PM</p>
          </div>
          <div class="contacts__box">
            <ul class="contacts__list">
              <li>
                <a class="contacts__link" href="tel:+61(0) 383 766 284"
                  >+61(0) 383 766 284</a
                >
              </li>
              <li>
                <a class="contacts__link" href="mailto:noreply@envato.com"
                  >noreply@envato.com</a
                >
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="contacts__item">
        <div class="contacts__container">
          <div class="contacts__wrapper">
            <h3 class="contacts__title">CAFE</h3>
          </div>
          <div class="contacts__box">
            <p class="contacts__text-black contacts__text--margin-bottom">
              New York
            </p>
            <p class="contacts__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </div>
          <div class="contacts__box-working-time">
            <p class="contacts__text-black">Monday - Friday</p>
            <p class="contacts__text-red contacts__text--margin-bottom">
              06:00 AM - 10:00 PM
            </p>
            <p class="contacts__text-black">Saturday - Sunday</p>
            <p class="contacts__text-red">08:00 AM - 16:00 PM</p>
          </div>
          <div class="contacts__box">
            <ul class="contacts__list">
              <li>
                <a class="contacts__link" href="tel:+61(0) 383 766 284"
                  >+61(0) 383 766 284</a
                >
              </li>
              <li>
                <a class="contacts__link" href="mailto:noreply@envato.com"
                  >noreply@envato.com</a
                >
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>