<section class="section section--products" id="products">
  <div class="container">
    <p class="section__uppertitle">100% natural</p>
    <h2 class="section__title section__title--marginbottom">products</h2>
    <ul class="products__list">
      <li class="products__item products__item--cream">
        <h3 class="products__item__title">ice cream</h3>
        <p class="products__item__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et<span
            class="text-visually-hidden"
            >. dolore magna aliqua facilisis.</span
          >
        </p>
        <button class="btn__arrow products__btn" aria-label="Опис продукту">
          <svg class="btn-arrow__icon" width="11" height="11">
            <use href="/src/icons/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
      <li class="products__item products__item--coffee">
        <h3 class="products__item__title">ice coffee</h3>
        <p class="products__item__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et<span
            class="text-visually-hidden"
            >. dolore magna aliqua facilisis.</span
          >
        </p>
        <button class="products__btn" aria-label="Опис продукту">
          <svg class="btn-arrow__icon" width="11" height="11">
            <use href="/src/icons/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
      <li class="products__item products__item--milkshakes">
        <h3 class="products__item__title">milkshakes</h3>
        <p class="products__item__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et<span
            class="text-visually-hidden"
            >. dolore magna aliqua facilisis.</span
          >
        </p>
        <button class="products__btn" aria-label="Опис продукту">
          <svg class="btn-arrow__icon" width="11" height="11">
            <use href="/src/icons/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
