.map-modal {
    position: relative;
    top: 50%;
    left: 50%;
    padding: 15px;
    max-width: 450px;
    border-radius: 24px;
    background-color: var(--pr-bg-color);
    transform: translate(-50%, -50%);
    @include transition(tramsform);
    @include mq(tablet) {
        position: absolute;
    }
}

.map-modal__item:not(:last-child) {
    margin-bottom: 8px;
    @include mq(tablet) {
        margin-bottom: 10px;
    }
    @include mq(desktop) {
        margin-bottom: 12px;
    }
}

.map-modal__img {
    margin-left: auto;
    margin-right: auto;
    @include mq(tablet) {
        width: 250px;
    }
    @include mq(desktop) {
        width: 300px;
    }
}