.map-modal__item:not(:last-child) {
    margin-bottom: 10px;
    @include mq(tablet) {
        margin-bottom: 15px;
    }
    @include mq(desktop) {
        margin-bottom: 20px;
    }
}

.map-modal__img {
    margin-left: auto;
    margin-right: auto;
    @include mq(tablet) {
        width: 300px;
    }
    @include mq(desktop) {
        width: 505px;
    }
}