.products__text {
    font-family: var(--title-font);
    font-style: normal;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    
    color: var(--pr-accent-color);
    
    font-size: 18px;
    line-height: 1.17;
    margin-bottom: 15px;
    
    
    @include mq(tablet) {
        font-size: 26px;
        line-height: 1.15;
        margin-bottom: 18px;
    }
    
    @include mq(desktop) {
        font-size: 30px;
        line-height: 1.13;
        margin-bottom: 16px;
    }
}
    
.products__title {
    font-family: var(--title-font);
    font-style: normal;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    color: var(--sec-accent-color);

    margin-bottom: 148px;
    font-size: 34px;
    line-height: 1.15;
    
    @include mq(tablet) {
        margin-bottom: 158px;
        font-size: 48px;
        line-height: 1.15;
    }
    
    @include mq(desktop) {
        margin-bottom: 281px;
        font-size: 58px;
        line-height: 1.14;
    }
}
    
.products__list {
        @include mq(tablet) {
            display: flex;
            flex-wrap: wrap;
        }
}
    
.products__item {
    position: relative;

    border-radius: 24px;
    padding-top: 160px;
    padding-bottom: 40px;

    @include transition(transform); 

        &:first-child {
            background-color: var(--pr-bg-color);
        }

        &:nth-child(2) {
            background-color: #F0D1A5;
        }
        
        &:last-child {
            background-color: #C2E297;
                
        @include mq(tablet) {
                 margin-right: 0;
                }
        }
 
             &:hover,  &:focus {
                &::before {
                    transform: scale(1.15);
                }   
                } 
    
    @include mq(tablet) { 
            margin-right: 16px;
            flex-basis: calc((100% - 32px) / 3);
            padding-top: 118px;
        }
    
    @include mq(desktop) {
            margin-right: 32px;
            flex-basis: calc((100% - 64px) / 3);
            padding-top: 165px;
            padding-bottom: 60px;
        }
        
        &::before {
            content: " ";
            display: block;
            background-position: center;
             background-repeat: no-repeat;
             background-size: contain;
             position: absolute;
             left: 0;
             top: -140px;

             width: 100%;
             height: 280px;
                
            @include mq(tablet) {
        top: -138px;
        height: 224px; 
        }
            @include mq(desktop) {
        top: -261px;
        height: 394px; 
        }
}
}
  
.products__item--cream {
    margin-bottom: 140px;

    @include mq(tablet) {
        margin-bottom: 0;
    }

    &::before {
        background-image: url(/src/images/ice_cream-sm.png);
    
            @include mq(retina)  {
                background-image: url(/src/images/ice_cream-sm@2x.png);
            }
    
        @include mq(tablet) {
            background-image: url(/src/images/ice_cream-md.png);
    
            @include mq(retina)  {
                background-image: url(/src/images/ice_cream-md@2x.png);
            }
        }
    
        @include mq(desktop) {
            background-image: url("/src/images/ice_cream-ld.png");
    
            @include mq(retina) {
                background-image: url("/src/images/ice_cream-ld@2x.png");
            }
        }
    }
}

.products__item--coffee {
    margin-bottom: 140px;

    @include mq(tablet) {
        margin-bottom: 0;
    }

    &::before {
        background-image: url(/src/images/ice_coffee-sm.png);
    
        @include mq(retina) {
                background-image: url(/src/images/ice_coffee-sm@2x.png);
            }
    
        @include mq(tablet) {
            background-image: url(/src/images/ice_coffee-md.png);
    
            @include mq(retina) {
                background-image: url(/src/images/ice_coffee-md@2x.png);
            }
        }
    
        @include mq(desktop) {
            background-image: url(/src/images/ice_coffee-ld.png);
    
            @include mq(retina) {
                background-image: url(/src/images/ice_coffee-ld@2x.png);
            }
        }
    }
}

.products__item--milkshakes::before {
    background-image: url(/src/images/milkshakes-sm.png);

        @include mq(retina) {
            background-image: url(/src/images/milkshakes-sm@2x.png);
        }

    @include mq(tablet) {
            background-image: url(/src/images/milkshakes-md.png);

            @include mq(retina) {
            background-image: url(/src/images/milkshakes-md@2x.png);
        }
    }

    @include mq(desktop) {
        background-image: url(/src/images/milkshakes-ld.png);

        @include mq(retina) {
            background-image: url(/src/images/milkshakes-ld@2x.png);
        }
    }
}
    
.products__item__title {
    font-family: var(--title-font);
    font-style: normal;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    
    color: var(--pr-white-color);
    
    font-size: 20px;
    line-height: 1.15;

    @include mq(desktop) {
        font-size: 30px;
        line-height: 1.13;
    }

    &::after {
        content: " ";
        display: block;
        width: 26px;
        height: 6px; 
    
        margin: 32px auto;  

        background-image: url(/src/icons/group.svg);   
}
}
    
.products__item__text {
    font-family: var(--pr-font);
    font-style: normal;
    font-weight: 700;
    
    text-align: center;
    letter-spacing: 0.04em;
    
    color: var(--pr-white-color);
    
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 32px;
    margin-left: 41px;
    margin-right: 39px;
    
    @include mq(tablet) {
        line-height: 1.8;
        margin-left: 32px;
        margin-right: 32px;
    }
    
    @include mq(desktop) {
        font-size: 16px;
        line-height: 1.8;
        margin-bottom: 70px;
        margin-left: 64px;
        margin-right: 63px;
    }
}
    
.text--visually-hidden {
        @include mq(tablet) {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        overflow: hidden;
        white-space: nowrap;
        clip-path: inset(50%);
        }
}
    
.products__bnt {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: transparent;
        background-image: url(/src/images/arrow-right.png);
      
        display: block;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
        
        &:hover, &:focus { 
            animation: glowing 1300ms infinite;

            @keyframes glowing {
                0% { box-shadow: 0 0 5px #d3cc8c; }
                50% { box-shadow: 0 0 20px #b81c24; }
                100% {  box-shadow: 0 0 5px #d3cc8c; }
            }  
        }
}

